In [137]:
import pandas as pd
import json
import numpy as np

In [260]:
with open('t20_wc_match_results_20230704_164358.json') as f:
  data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,-,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
21,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
22,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
23,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
24,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
25,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
26,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
27,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
28,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
29,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
30,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
31,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
32,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
33,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
34,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
35,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
36,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
37,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
38,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
39,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
40,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
41,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [263]:
df_match.rename({'scorecard' : 'match_id'} , axis = 1 , inplace = True)

In [264]:
df_match.head(5)

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [201]:
match_ids_dict = {}
for index , row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']
    
match_ids_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [265]:
df_match.to_csv('t20_wc_summary.csv' , index = False)

BATTING SUMMARY

In [115]:
with open('t20_batting_20230704_163816.json') as bt:
     data = json.load(bt)
all_records = []
for rec in data:
        all_records.extend(rec['battingSummary'])
all_records

df_batting = pd.DataFrame(all_records)

In [119]:
df_batting['batsmanName'] = pd.Series(df_batting['batsmanName'].str.decode("utf-8", "ignore"))

In [120]:
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michaelvan Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divanla Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,JanNicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,StephanBaard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,GerhardErasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,JanFrylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,DavidWiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJSmit,NaN,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,PathumNissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,KusalMendis,c â€ Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjayade Silva,c Shikongo b Frylinck,12,11,1,0,109.09

In [142]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: 'out' if len(x) > 0 else 'not_out')
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michaelvan Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divanla Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,JanNicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,StephanBaard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,GerhardErasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,JanFrylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,DavidWiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJSmit,,31,16,2,2,193.75,out
8,Namibia Vs Sri Lanka,Sri Lanka,1,PathumNissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,KusalMendis,c â€ Green b Wiese,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjayade Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out

In [140]:
df_batting['dismissal'] = df_batting['dismissal'].replace(np.nan , " ")

In [156]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: 'out' if len(str(x)) > 1 else 'not_out')

In [159]:
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michaelvan Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divanla Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,JanNicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,StephanBaard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,GerhardErasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,JanFrylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,DavidWiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJSmit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,PathumNissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,KusalMendis,c â€ Green b Wiese,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjayade Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out

In [256]:
df_batting.head(11)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,MaheeshTheekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,DushmanthaChameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,PramodMadushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,ChamikaKarunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,WaninduHasaranga,4,0,27,1,6.75,8,1,1,0,0
5,Namibia Vs Sri Lanka,Namibia,GerhardErasmus,1,0,8,0,8.00,1,1,0,0,0
6,Namibia Vs Sri Lanka,Namibia,DavidWiese,4,0,16,2,4.00,13,1,0,0,0
7,Namibia Vs Sri Lanka,Namibia,BernardScholtz,4,0,18,2,4.50,10,1,0,0,0
8,Namibia Vs Sri Lanka,Namibia,BenShikongo,3,1,22,2,7.33,6,3,0,0,0
9,Namibia Vs Sri Lanka,Namibia,JJSmit,3,0,16,1,5.33,7,0,0,1,0
10,Namibia Vs Sri Lanka,Namibia,JanFrylinck,4,0,26,2,6.50,10,0,2,1,0

In [204]:
df_batting["match_id"] = df_batting['match'].map(match_ids_dict)
df_batting.head(40)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michaelvan Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divanla Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,JanNicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,StephanBaard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,GerhardErasmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,JanFrylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,DavidWiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJSmit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,PathumNissanka,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,KusalMendis,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjayade Silva,12,11,1,0,109.09,out,T20I # 1823
11,Namibia Vs Sri Lanka,Sri Lanka,4,DanushkaGunathilaka,0,1,0,0,0.00,out,T20I # 1823
12,Namibia Vs Sri Lanka,Sri Lanka,5,BhanukaRajapaksa,20,21,2,0,95.23,out,T20I # 1823
13,Namibia Vs Sri Lanka,Sri Lanka,6,DasunShanaka(c),29,23,2,1,126.08,out,T20I # 1823
14,Namibia Vs Sri Lanka,Sri Lanka,7,WaninduHasaranga,4,8,0,0,50.00,out,T20I # 1823
15,Namibia Vs Sri Lanka,Sri Lanka,8,ChamikaKarunaratne,5,8,0,0,62.50,out,T20I # 1823
16,Namibia Vs Sri Lanka,Sri Lanka,9,PramodMadushan,0,0,0,0,-,out,T20I # 1823
17,Namibia Vs Sri Lanka,Sri Lanka,10,DushmanthaChameera,8,15,0,0,53.33,out,T20I # 1823
18,Namibia Vs Sri Lanka,Sri Lanka,11,MaheeshTheekshana,11,11,0,1,100.00,not_out,T20I # 1823
19,U.A.E. Vs Netherlands,U.A.E.,1,ChiragSuri,12,20,1,0,60.00,out,T20I # 1825
20,U.A.E. Vs Netherlands,U.A.E.,2,MuhammadWaseem,41,47,1,2,87.23,out,T20I # 1825
21,U.A.E. Vs Netherlands,U.A.E.,3,KashifDaud,15,14,0,1,107.14,out,T20I # 1825
22,U.A.E. Vs Netherlands,U.A.E.,4,VriityaAravind,18,21,0,0,85.71,out,T20I # 1825
23,U.A.E. Vs Netherlands,U.A.E.,5,ZawarFarid,2,4,0,0,50.00,out,T20I # 1825
24,U.A.E. Vs Netherlands,U.A.E.,6,BasilHameed,4,4,1,0,100.00,out,T20I # 1825
25,U.A.E. Vs Netherlands,U.A.E.,7,ChundangapoyilRizwan(c),1,2,0,0,50.00,out,T20I # 1825
26,U.A.E. Vs Netherlands,U.A.E.,8,AayanAfzal Khan,5,7,0,0,71.42,out,T20I # 1825
27,U.A.E. Vs Netherlands,U.A.E.,9,KarthikMeiyappan,0,0,0,0,-,not_out,T20I # 1825
28,U.A.E. Vs Netherlands,U.A.E.,10,JunaidSiddique,0,1,0,0,0.00,not_out,T20I # 1825
29,U.A.E. Vs Netherlands,Netherlands,1,VikramjitSingh,10,7,2,0,142.85,out,T20I # 1825
30,U.A.E. Vs Netherlands,Netherlands,2,MaxO'Dowd,23,18,3,1,127.77,out,T20I # 1825
31,U.A.E. Vs Netherlands,Netherlands,3,Basde Leede,14,18,1,0,77.77,out,T20I # 1825
32,U.A.E. Vs Netherlands,Netherlands,4,ColinAckermann,17,19,1,0,89.47,out,T20I # 1825
33,U.A.E. Vs Netherlands,Netherlands,5,TomCooper,8,16,0,0,50.00,out,T20I # 1825
34,U.A.E. Vs Netherlands,Netherlands,6,ScottEdwards(c),16,19,0,0,84.21,not_out,T20I # 1825
35,U.A.E. Vs Netherlands,Netherlands,7,Roelofvan der Merwe,0,2,0,0,0.00,out,T20I # 1825
36,U.A.E. Vs Netherlands,Netherlands,8,TimPringle,15,16,0,0,93.75,out,T20I # 1825
37,U.A.E. Vs Netherlands,Netherlands,9,Loganvan Beek,4,4,0,0,100.00,not_out,T20I # 1825
38,Scotland Vs West Indies,Scotland,1,GeorgeMunsey,66,53,9,0,124.52,not_out,T20I # 1826
39,Scotland Vs West Indies,Scotland,2,MichaelJones,20,17,3,0,117.64,out,T20I # 1826

In [205]:
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michaelvan Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divanla Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,JanNicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,StephanBaard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,GerhardErasmus(c),20,24,0,0,83.33,out,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,PhilSalt,10,9,2,0,111.11,out,T20I # 1879
695,Pakistan Vs England,England,4,BenStokes,52,49,5,1,106.12,not_out,T20I # 1879
696,Pakistan Vs England,England,5,HarryBrook,20,23,1,0,86.95,out,T20I # 1879
697,Pakistan Vs England,England,6,MoeenAli,19,13,3,0,146.15,out,T20I # 1879
698,Pakistan Vs England,England,7,LiamLivingstone,1,1,0,0,100.00,not_out,T20I # 1879

In [207]:
df_batting.to_csv('t20_battin_summary.csv' , index = False)

BOWLING SUMMARY

In [209]:
with open('t20_bowling_data_20230704_164719.json') as bt:
     data = json.load(bt)
all_records = []
for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records

df_bowling = pd.DataFrame(all_records)

In [211]:
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,MaheeshTheekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,DushmanthaChameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,PramodMadushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,ChamikaKarunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,WaninduHasaranga,4,0,27,1,6.75,8,1,1,0,0

In [212]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,MaheeshTheekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,DushmanthaChameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,PramodMadushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,ChamikaKarunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,WaninduHasaranga,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,NaseemShah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan Vs England,Pakistan,HarisRauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan Vs England,Pakistan,ShadabKhan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan Vs England,Pakistan,MohammadWasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan Vs England,Pakistan,IftikharAhmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [213]:
df_bowling.to_csv('t20_bowling_summary.csv' , index = False)

PLAYERS INFO

In [214]:
with open('t20_players_info_20230704_170020.json') as bt:
     data = json.load(bt)

In [216]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players

(332, 7)

,name,team,battingStyle,bowlingStyle,playingRole,description,input
0,ChiragSuriÂ,U.A.E.,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Opening Batter,"Two days after his 22nd birthday, opening batt...",{}
1,MuhammadWaseemÂ,U.A.E.,Right hand Bat,Right arm Medium,Opening Batter,NaN,{}
2,KashifDaudÂ,U.A.E.,Right hand Bat,Right arm Medium fast,Bowling Allrounder,NaN,{}
3,VriityaAravindÂ â€,U.A.E.,Right hand Bat,NaN,Wicketkeeper Batter,NaN,{}
4,ZawarFaridÂ,U.A.E.,Right hand Bat,Right arm Medium,Bowler,NaN,{}
...,...,...,...,...,...,...,...
327,ShorifulIslam,Bangladesh,Left hand Bat,Left arm Medium fast,Bowler,"At 6ft three inches, Shoriful Islam became a l...",{}
328,ChrisJordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade...",{}
329,PhilSaltÂ,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...,{}
330,KeshavMaharajÂ,South Africa,Right hand Bat,Slow Left arm Orthodox,Bowler,"A left-arm spinner from Northwood Boys High, t...",{}
331,FakharZamanÂ,Pakistan,Left hand Bat,Slow Left arm Orthodox,Opening Batter,"Born in Mardan, where the standard of batsmans...",{}

In [219]:
df_players['description'] = df_players['description'].replace(np.nan , ' ')

In [242]:
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description,input
0,ChiragSuri,U.A.E.,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Opening Batter,"Two days after his 22nd birthday, opening batt...",{}
1,MuhammadWaseem,U.A.E.,Right hand Bat,Right arm Medium,Opening Batter,,{}
2,KashifDaud,U.A.E.,Right hand Bat,Right arm Medium fast,Bowling Allrounder,,{}
3,VriityaAravind,U.A.E.,Right hand Bat,NaN,Wicketkeeper Batter,,{}
4,ZawarFarid,U.A.E.,Right hand Bat,Right arm Medium,Bowler,,{}
...,...,...,...,...,...,...,...
327,ShorifulIslam,Bangladesh,Left hand Bat,Left arm Medium fast,Bowler,"At 6ft three inches, Shoriful Islam became a l...",{}
328,ChrisJordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade...",{}
329,PhilSalt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...,{}
330,KeshavMaharaj,South Africa,Right hand Bat,Slow Left arm Orthodox,Bowler,"A left-arm spinner from Northwood Boys High, t...",{}
331,FakharZaman,Pakistan,Left hand Bat,Slow Left arm Orthodox,Opening Batter,"Born in Mardan, where the standard of batsmans...",{}

In [235]:
df_players['name'] = df_players['name'].str.decode('UTF-8' , 'ignore')

In [243]:
 df_players = df_players.drop('input',axis = 1)

In [251]:
 df_players = df_players.drop_duplicates('name')

In [252]:
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,ChiragSuri,U.A.E.,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Opening Batter,"Two days after his 22nd birthday, opening batt..."
1,MuhammadWaseem,U.A.E.,Right hand Bat,Right arm Medium,Opening Batter,
2,KashifDaud,U.A.E.,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
3,VriityaAravind,U.A.E.,Right hand Bat,NaN,Wicketkeeper Batter,
4,ZawarFarid,U.A.E.,Right hand Bat,Right arm Medium,Bowler,
...,...,...,...,...,...,...
323,Naveen-ul-Haq,Afghanistan,Right hand Bat,Right arm Medium fast,Bowler,
327,ShorifulIslam,Bangladesh,Left hand Bat,Left arm Medium fast,Bowler,"At 6ft three inches, Shoriful Islam became a l..."
328,ChrisJordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
329,PhilSalt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
331,FakharZaman,Pakistan,Left hand Bat,Slow Left arm Orthodox,Opening Batter,"Born in Mardan, where the standard of batsmans..."

In [253]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
104,KLRahul,India,Right hand Bat,NaN,Wicketkeeper Batter,"A tall, elegant right-hand batsman who can kee..."
105,RohitSharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
106,ViratKohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
107,SuryakumarYadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
108,AxarPatel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
109,HardikPandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Allrounder Hardik Pandya's calling cards brisk...
110,DineshKarthik,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
111,RavichandranAshwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
112,BhuvneshwarKumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
113,ArshdeepSingh,India,Left hand Bat,Left arm Medium fast,Bowler,
114,MohammedShami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
304,RishabhPant,India,Left hand Bat,NaN,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."
311,DeepakHooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."

In [254]:
df_players.to_csv('t20_players_info_no_img_correct.csv' , index = False)